
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c6bebe;
    border-radius: 5px;
    font-size: 16px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dcd6d6;
}
th {
    background-color: #333;
    color: white;
}

@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead {
        display: none; 
    }
    tr {
        margin-bottom: 15px;
    }
    td {
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Nome da Loja:"; }
    td:nth-of-type(2):before { content: "Endereço:"; }
    td:nth-of-type(3):before { content: "Cidade:"; }
    td:nth-of-type(4):before { content: "Estado:"; }
    td:nth-of-type(5):before { content: "E-mail"; }
    td:nth-of-type(6):before { content: "Número de Telefone:"; }
}

