{% extends 'base.html' %}

{% block title %}
  Título de Teste
{% endblock %}

{% block css %}{% endblock %}

{% block conteudo %}

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/static/dist/js/dashboard.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/js/dashboard.js')}}"></script>
  </head>
  <body>
    <div>
        <h1>Erro 404</h1>
        <p>Página não encontrada!</p>

        <a href="{{ url_for('dashboard') }}">Clique aqui para voltar para a página inicial!</a>
    </div>
  </body>
  </html>
   
  

{% endblock %}

{% block js %}{% endblock %}
