<li class="sidebar-item"> 
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard" aria-expanded="false">
      <i class="mdi mdi-view-dashboard"></i>
      <span class="hide-menu">Dashboard</span>
  </a>
</li>

<li class="sidebar-item">
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/clientes" aria-expanded="false">
      <i class="mdi mdi-account"></i>
      <span class="hide-menu">Clientes</span>
  </a>
</li>

<li class="sidebar-item">
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/produtos" aria-expanded="false">
      <i class="mdi mdi-package"></i>
      <span class="hide-menu">Produtos</span>
  </a>
</li>

<li class="sidebar-item">
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/categorias"
      aria-expanded="false">
      <i class="mdi mdi-package"></i>
      <span class="hide-menu">Categorias</span>
  </a>
</li>

<li class="sidebar-item">
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/fornecedores"
      aria-expanded="false">
      <i class="mdi mdi-package"></i>
      <span class="hide-menu">Fornecedores</span>
  </a>
</li>

<li class="sidebar-item">
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/lojas"
      aria-expanded="false">
      <i class="mdi mdi-package"></i>
      <span class="hide-menu">Lojas</span>
  </a>
</li>

<li class="sidebar-item">
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/usuarios"
      aria-expanded="false">
      <i class="mdi mdi-package"></i>
      <span class="hide-menu">Usuários</span>
  </a>
</li>

<li class="sidebar-item">
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/atividades"
      aria-expanded="false">
      <i class="mdi mdi-package"></i>
      <span class="hide-menu">Atividades</span>
  </a>
</li>

<li class="sidebar-item">
  <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/permissoes"
      aria-expanded="false">
      <i class="mdi mdi-package"></i>
      <span class="hide-menu">Permissões</span>
  </a>
</li>